@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  @apply h-full;



  color-scheme: light dark;
  @apply text-slate-900;
  @apply bg-gray-50;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply border-gray-200;
  @apply h-full;
}

#root {
  @apply h-full flex flex-col;
}

button {
  @apply hover:cursor-pointer
}